#contact {
  background-color: lavender;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#formcontainer {
  /* margin: 0 auto; */
  /* height: 100%; */
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 50px 0 50px 0;
}

#contactform {
  /* width: 100vw; */
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

input {
  width: 600px;
}

#input {
  margin: 10px 0 10px 0;
}

textarea {
  height: 10em;
  width: 600px;
}

/* div[role="alert"] {
  color: red;
  margin-top: 1em;
} */

.message-chars-left {
  width: 600px;
  margin: auto;
  text-align: left;
}

#submit {
  width: 70px;
  margin-top: 10px;
}
