#projectspage {
  /* background-color: lavender; */
  height: 100%;
  /* width: 100vw; */

  /* border-top: 30px solid rgb(101, 91, 126);
  border-left: 60px solid rgb(101, 91, 126);
  border-bottom: 30px solid rgb(101, 91, 126); */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0 100px 0;
}

#projectstitle {
  /* font-family: "Monoton", cursive; */
  /* font-family: "KoHo", sans-serif; */
  color: rgb(71, 142, 160);
  font-family: "Montserrat", sans-serif;

  font-size: 40px;
  /* border-bottom: 1px solid black; */
}

#projects {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projimg {
  /* max-width: 500px; */
  max-height: 250px;
  /* height: auto; */
  margin-right: 50px;
  /* border: 2px solid purple; */
  border-radius: 5px;
  /* box-shadow: 5px 5px 5px gray; */
}

#proj {
  width: 90%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  margin: 25px 0 25px 0;
  background-color: rgb(247, 247, 252);
  padding: 100px;
  border-radius: 20px;
  /* border-bottom: 2px dashed lavender; */
}

/* #right {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 25px 0 25px 0;
} */

/* #long {
  width: 150px;
} */

#projcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* margin-left: 100px; */
}

#projheadline {
  margin: 0;
  margin-top: 20px;
  color: rgb(86, 172, 6);
  font-family: "Alata", sans-serif;
  font-size: 30px;
}

/* #left {
  width: 70%;
} */

#site {
  border: 1px solid purple;
  background-color: lavender;
  padding: 10px;
  margin: 10px;
}

#code {
  border: 1px solid purple;
  background-color: lavender;
  padding: 10px;
  margin: 10px;
}

#links {
  margin-top: 30px;
}
