#projectspage {
  /* background-color: lavender; */
  height: 100%;
  /* width: 100vw; */

  border-top: 30px solid rgb(101, 91, 126);
  border-left: 60px solid rgb(101, 91, 126);
  border-bottom: 30px solid rgb(101, 91, 126);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0 50px 0;
}

#projects {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projimg {
  width: 400px;
  height: auto;
  margin-right: 50px;
}

#proj {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 25px 0 25px 0;
}

/* #right {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 25px 0 25px 0;
} */

#long {
  width: 150px;
  /* text-align: center; */
}

#center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
