#projectspage {
  /* background-color: lavender; */
  height: 100%;
  /* width: 100vw; */

  border-top: 30px solid rgb(101, 91, 126);
  border-left: 60px solid rgb(101, 91, 126);
  border-bottom: 30px solid rgb(101, 91, 126);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0 100px 0;
}

#projectstitle {
  /* font-family: "Monoton", cursive; */
  font-family: "KoHo", sans-serif;
  color: rgb(68, 95, 68);
  font-size: 50px;
  border-bottom: 1px solid black;
}

#projects {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projimg {
  /* max-width: 500px; */
  max-height: 400px;
  height: auto;
  margin-right: 50px;
  box-shadow: 5px 5px 5px gray;
}

#proj {
  width: 90%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin: 25px 0 25px 0;
}

/* #right {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 25px 0 25px 0;
} */

/* #long {
  width: 150px;
} */

#projcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#projheadline {
  margin: 0;
  margin-top: 20px;
  color: rgb(86, 172, 6);
  font-family: "Alata", sans-serif;
  font-size: 50px;
}

/* #left {
} */

#site {
  border: 1px solid purple;
  background-color: lavender;
  padding: 10px;
  margin: 10px;
}

#code {
  border: 1px solid purple;
  background-color: lavender;
  padding: 10px;
  margin: 10px;
}

#links {
  margin-top: 30px;
}
