
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

#title {
  background-color: lavender;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Alata", sans-serif;
}

#myname {
  font-size: 90px;
  margin-bottom: 0;
}

#titlename {
  font-size: 30px;
  color: rgb(161, 248, 173);
}

#myVideo {
  position: relative;
  left: 0;
  top: 0;
  min-width: 100%;
  z-index: 1;
}

#mytitle {
  position: absolute;
  z-index: 2;
  width: 100%;
  color: #f1f1f1;
}

@media only screen and (max-width: 550px) {
  #myname {
    font-size: 40px;
  }
  #titlename {
    font-size: 15px;
  }
}
